.capteur{
	margin-top : 50px;
	margin-left: auto;
    	margin-right: auto;
	text-align : center;
	width : 800px;
	border : 1px solid black; /*Crée la bordure de largeur 1px, solid signifie ligne continue et on donne la couleur noire*/
	border-radius : 50px; /*Arrondit les bords*/
}

.bouton1{
	margin-bottom : 15px;
}

.bouton2{
	display: flex; /*Permet d'aligner les éléments sur la même ligne*/
    	justify-content: center; /*Permet de mettre les éléments au centre*/
	gap : 15px; /*Permet d'espacer les éléments entre eux*/
	margin-bottom : 50px;
}
